
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



ul{
  list-style-type: none;
}

#LineGraph{
  width: 600px;
  height: auto;
}

#BarChart{
  width: 600px;
  height: auto;
}

li {
  margin: 12px
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

#plantstatus{
  padding-top: 10%;
  color: black;
}




#reportschart{
  position: absolute;
  top: -10%;
  width: 70%;
  height: auto;
}

#reportstable{
  position: absolute;
  left: 20%;
  top: 100%;
  width: 70%;
}

.login-wrapper {
    position: absolute;
    top: 20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}
.sidebar-left {
position: sticky;
top: 0;
height: calc(100vh - 70px);
padding-right: 5px;
}

#navHeader{
  color: white;
  padding-left: 10px;

}

.sidebar-nav li .nav-link{
color: #333;
font-weight: 500;
}

#header{
  height: 70px;
  width: auto;
}

#gauge-chart6{
color: black;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  .sidebar-left {
  position: sticky;
  top: 0;
  bottom:0;
  height: calc(100vh - 70px);
  padding-right: 5px;
  }

  #navHeader{
    color: white;
    padding-left: 10px;

  }

  .sidebar-nav li .nav-link{
  color: #333;
  font-weight: 500;
  }

  #header{
    height: 70px;
    width: auto;
  }

  body {
    font-size: .875rem;
    font-family: 'Roboto', sans-serif;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


#gauges{
  padding-left: 8%;
}


#plantimage{
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  position: absolute;
  /* background-color: red; */
  top: 1%;
  width: 70%;
  height: 10%;
  left: 20%;
}

#plantpic{
  position: relative;
  top: 6%;
  width: 100%;
  height: auto;
  z-index: -1;
}


#gaugesmove{
  padding-top: 28%;
}


#plant1{
position: absolute;
color: red;
left: 8%;
top: 22%;
/* z-index: +2; */
}

#plant2{
  position: absolute;
  color: red;
  left: 33.5%;
  top: 22%;
  /* z-index: +2; */
}

#water{
  position: absolute;
  color: red;
  left: 55%;
  top: 22%;
  /* z-index: +2; */

}


#arduino{
  position: absolute;
  left: 30%;
  /* top: 10%; */
}

#datapage{
  position:relative;
  top:20%;
}


#mainbox{
  color: black;
}


#renderroute{
padding-left: 17%;
padding-top: 7%;
}

#fontheader{
  font-family: 'Roboto', sans-serif;
}
